body {
    width: 760px;
    margin: 0 auto;
}
.game{
    height: 360px;
}
.version {
    text-align: left;
    position: relative;
    top: 150px;
    padding: 0 20px;
}

.title {
    color: white;
    text-align: center;
}

.title {
    position: relative;
    top: -400px;
    left: 20p;
}

.home-links a {
    margin-right: 1rem;
}

.play-mode {
    margin: 10px 20px;
    padding: 5px;
    border: 1px solid white;
    font-size: 20px;
    cursor: pointer;
    background: white;
    color: black;
}
a{
    text-decoration: none;
}
.inventory{
    margin: 20px 0 0;
    width: 640px;
    padding: 10px;
    
}

.highlight{
    border: 5px solid yellow;
}